{% extends 'VeonikBlogBundle:Admin:base.html.twig' %}

{% set title = 'Pages' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Published <i class="icon-caret-down"></i></th>
            <th>Last Modified</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('manage_page_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.active ? entity.datePublished : 'No' }}</td>
            <td>{% if entity.dateModified %}{{ entity.dateModified }}{% endif %}</td>
            <td>{% if entity.dateCreated %}{{ entity.dateCreated }}{% endif %}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-mini btn-primary" href="{{ path('manage_page_edit', { 'id': entity.id }) }}">Edit</a>
                    <a class="btn btn-mini" href="{{ path('manage_page_preview', { 'id': entity.id }) }}">Preview</a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block page_controls %}
<a class="btn btn-primary" href="{{ path('manage_page_new') }}">
    New Page
</a>
{% endblock %}
