{% extends 'VeonikBlogBundle::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite, ?yui_css' output="css/highlighter.css"
  'bundles/veonikblog/css/highlighter/shCore.css'
  'bundles/veonikblog/css/highlighter/shTheme.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block main_javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' output="js/highlighter.js"
  'bundles/veonikblog/js/highlighter/shCore.js'
  'bundles/veonikblog/js/highlighter/*'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% set year = "now"|date('Y') %}
{% if entities|length == 1 %}
{% set title = entities[0].title %}
{% endif %}

{% block content %}
{% for entity in entities %}
    <div class="row">
{% if entity is post %}
    <div class="col-md-1">
        <div class="date-posted">
            <p class="month">{{ entity.datePublished.toUserTime.format('M') }} {% if entity.datePublished.toUserTime.format('Y') != year %}<span class="year">'{% set year = entity.datePublished.toUserTime.format('y') %}{{ year }}</span>{% endif %}</p>
            <p class="day">{{ entity.datePublished.toUserTime.format('d') }}</p>
        </div>
    </div>
{% endif %}
    <div class="{{ entity is post ? 'col-md-11' : 'col-md-12' }}">
    {% if loop.first %}
<h1>{{ entity.title }}{% if entity.hasMenu %}{{ render_menu(entity.menu) }}{% endif %}</h1>
    {% else %}
<h2>{{ entity.title }}{% if entity.hasMenu %}{{ render_menu(entity.menu) }}{% endif %}</h2>
    {% endif %}
        <div style="clear: both"></div>
<div class="copy-container">
{{ render_twig(entity.body, { post: entity }) }}
</div>
<div class="spacer"></div>
<p>{% for tag in entity.tags %}<a href="{{ path('search_tag', { name: tag.name }) }}" class="label tag label-inverse">{{ tag }}</a>{% endfor %}{% for tag in entity.categories %}<a href="{{ path('search_category', { name: tag.name }) }}" class="label label-inverse tag">{{ tag }}</a>{% endfor %}</p>
{% if entity.enableComments %}
    {{ render(controller('VeonikBlogBundle:Comment:index', { postid: entity.id })) }}
{% endif %}
<div class="post-spacer"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block additional_javascripts %}
    {% if is_granted('ROLE_COMMENT_WRITE') %}
<script type="text/javascript">
$(function () {
  $('.add-comment').click(function (e) {
    e.preventDefault();

    var $this = $(this);
    $.ajax({
      url : $this.attr('href'),
      type : 'html',
      success : function (response) {
        $this.closest('.comment-box').html(response);
      }
    });
  });
});
</script>
    {% endif %}
<script type="text/javascript">
$(function() {
  SyntaxHighlighter.all();
});
</script>
{% endblock %}
